/* mainblocks */
.body-header, body > footer, #folderstree, #items	{
	border-width: 1px;
	border-style: solid;
}

/* headerfooter */
.header-listcontent-li	{ /* nav > ul > li - пункт блока сервисов */
	border-width: 1px;
	border-style: solid;
}
.header-listcontent-li	{
	border-radius: 1em/.75em;
}
.header-menu-summary	{ /* details > summary - видимая часть меню аккаунта */
	border-radius: .66em/.5em;
}
/* меню аккаунта header-menu и меню редактирования контента editmenu */
.header-menu-subdetails, .header-menu-subitem	{
	border: none;
	border-radius: .45em/.33em;
}
.header-menu-subitem:hover	{
	border-width: 1px;
	border-style: solid;
}

/* editform (стили древовидного списка - в соответствующем блоку файле) */
#editform	{
	border-width: 6px;
	border-style: solid;
	border-radius: 18px;
}
#editform-form	{
	border-radius: 12px;
}
#relocation-type, #relocation-order-number, #relocation-tree /* fieldset */	{
	border-radius: 3px;
}
