/* mainblocks */
.body-header, body > footer, #folderstree, #items	{
	border-width: 1px;
	border-style: solid;
}

/* headerfooter, items */
.header-listcontent-li	{ /* nav > ul > li - пункт блока сервисов */
	border-width: 1px;
	border-style: solid;
}
.header-listcontent-li, .item /* article */	{
	border-radius: 1em/.75em;
}
.header-menu-summary	{ /* details > summary - видимая часть меню аккаунта */
	border-radius: .66em/.5em;
}
/* меню аккаунта header-menu и меню редактирования контента editmenu */
.header-menu-subdetails, .header-menu-subitem, .editmenu-summary, .editmenu-subdetails, .editmenu-button /* button */	{
	border: none;
	border-radius: .45em/.33em;
}
.header-menu-subitem:hover, .editmenu-button:hover	{
	border-width: 1px;
	border-style: solid;
}

/* editform (стили древовидного списка - в соответствующем блоку файле) */
#editform	{
	border-width: 6px;
	border-style: solid;
	border-radius: 18px;
}
#editform-form	{
	border-radius: 12px;
}
p[class^='editform-'] input	{
	border-radius: 6px;
}
p[class^='editform-'] textarea	{
	border-radius: 9px;
}
#relocation-type, #relocation-order-number, #relocation-tree	{
	border-radius: 3px;
}
#cancel, #submit, .options-button, .toggle-folderstree-button	{
	border-width: 2px;
	border-style: groove;
	border-radius: .5em;
}
#cancel:active, #submit:active, .options-button:active, .toggle-folderstree-button:active	{
	border-style: ridge;
}
#relocation-order-setnumber, #editform-maxordernumber {
	border-radius: 6px;
}
