/* Компонент ФЛАЖОК / ПЕРЕКЛЮЧАТЕЛЬ */

/* Это:
элементы label, содержищие элементы input[type='checkbox'] и input[type='radio'] в элементах:
форма авторизации
форма редактирования контента
дерево перемещений
страница настроек
*/

/* элементы span для выбранных и неактивных элементов */
input[type='checkbox']:checked + .check-span,
input[type='radio']:checked + .check-span	{
	font-weight: bold;
}
input[type='checkbox']:disabled + .check-span,
input[type='radio']:disabled + .check-span	{
	color: #555;
}

/* editform.css - древовидный список */
.root-relocation-tree-li > label, .relocation-tree-li > label	{ /* для увеличения активного поля */
	padding-right: 2em;
}
