/* body, #mainblocks, [href:hover]s */
body	{
	background-color: hsl(var(--basic-color-hue),100%,95%);
	background-image: var(--body-bg-image);
	background-repeat: var(--body-bg-repeat);
	background-attachment: fixed;
	background-position: center center;
}
.body-header, body > footer, #folderstree, #items	{
	border-color: hsl(var(--basic-color-hue),40%,60%);
}
.body-header > h1	{
	text-shadow: 4px -3px 3px hsla(var(--basic-color-hue),60%,20%,.4);
}
.header-listcontent-li	{ /* nav > ul > li - пункт блока сервисов */
	border-color: hsl(var(--basic-color-hue),40%,50%);
	background-color: hsl(var(--basic-color-hue),100%,80%);
}
.folderstree-summary:hover /* summary */, .itemsfolder-branch:hover /* span */	{
	color: hsl(var(--basic-color-hue),80%,40%);
}

/* #items */
.toggle-folderstree-button	{
	/* стили в секции editform данного файла */
}
.item	{ /* article */
	background-color: hsla(var(--basic-color-hue),100%,85%,calc(var(--article-tranparency)/100));
}
.editmenu-summary:hover, .header-menu-summary:hover, .editmenu-subdetails, .header-menu-subdetails	{
	background-color: hsl(var(--basic-color-hue),100%,80%);
}
.editmenu-button	{ /* .editmenu-subdetails > p > button */
	background-color: inherit;
}
.editmenu-button:hover, .header-menu-subitem:hover	{
	border-color: hsl(var(--basic-color-hue),40%,50%);
}

/* #editform */
#editform	{
	background-color: hsl(var(--basic-color-hue),100%,80%);
	border-color:  hsla(var(--basic-color-hue),100%,70%,.5);
}
#editform::backdrop {
	background-color: hsla(var(--basic-color-hue),40%,40%,.25);
}
#relocation-tree	{
	background-color: hsl(var(--basic-color-hue),100%,78%);
}
#editform-maxordernumber > input	{
	background-color: hsl(var(--basic-color-hue),100%,85%);
}
#cancel, #submit, .options-button, .toggle-folderstree-button	{
	background-color: hsl(var(--basic-color-hue),100%,78%);
	border-color: hsla(var(--basic-color-hue),50%,65%,.5);
}
#cancel:hover, #submit:hover, .options-button:hover, .toggle-folderstree-button:hover	{
	background-color: hsl(var(--basic-color-hue),100%,76%);
}
#cancel:active, #submit:active, .options-button:active, .toggle-folderstree-button:active	{
	background-color: hsl(var(--basic-color-hue),100%,72%);
}
#cancel:focus, #submit:focus, #editform-element-title:focus, #editform-item-uri:focus, #editform-item-text:focus, #relocation-order-setnumber:focus, input[type='radio']:focus + .radio-label, input[type='radio']:checked + .relocation-tree-li-label {
	border-color: hsl(var(--basic-color-hue),50%,50%);
	color: hsl(var(--basic-color-hue),100%,25%);
	font-weight: bold;
}
#editform-element-title:focus, #editform-item-uri:focus, #editform-item-text:focus {
	font-weight: normal;
}

/* options */
.choosed-bg-image	{ /* выбранная подложка */
	outline-color: hsla(var(--basic-color-hue),100%,60%,.8);
}
.options-button	{ /* шаблон button файла запрограммированных настроек */
	/* стили в секции editform данного файла */
}
