/* Стили страницы контента Пользователя, не выделенные в отельные компоненты */

/* Применяются для страниц:
страница контента Пользователя
страница "О ресурсе"
*/

/* Основные блоки макета страницы */
body	{
	background-color: hsl(var(--basic-color-hue),100%,95%);
	background-image: var(--body-bg-image);
	background-repeat: var(--body-bg-repeat);
	background-attachment: fixed;
	background-position: center center;
}
.body-header, body > footer, #folderstree, #items	{
	border-width: 1px;
	border-style: solid;
	border-color: hsl(var(--basic-color-hue),40%,60%);
	padding: .67em;
}
#folderstree, #items	{
	overflow-x: hidden;
}

/* Блок section#items - Статьи текущей папки */
.itemsfolder	{
	display: none; /* выбранная папка отображается программным путём */
}
.itemsfolder-branch-nav	{
	display: inline;
}
.itemsfolder-branch-ancestor	{ /* span */
	cursor: pointer;
}
.itemsfolder-branch-ancestor:hover /* span */	{
	color: hsl(var(--basic-color-hue),80%,40%);
}
.items-header	{ /* Заголовок блока items (h2 + меню для редактирования) */
	margin: 1em 0;
}
.items-h2	{
	text-align: center;
}
