#editform	{
	margin: auto;
	width: 98vw;
	max-width: 50em;
}
.editform-meta	{
	display: none;
}
.editform-edit	{
	display: none;
}
.editform-relocate	{
	display: none;
}
.editform-relocate-add	{
	display: none;
}
.editform-relocate-meta	{
	display: none;
}
.submit-buttons /* p */	{
	text-align: right;
}
