.root-folderstree-details	{
	margin: 1em 0;
}
.root-folderstree-details > .folderstree-details, .folderstree-details > .folderstree-details	{
	margin: 1.2em 1em;
}
.folderstree-summary	{
	text-align: left;
}
.subfolders > .folderstree-summary:after {
	content: ' \21B7';
}
.subfolders[open] > .folderstree-summary:after {
	content: '';
}
