/* Компонент ФОРМА */

/* Это отдельные формы:
форма FORM на странице авторизации
элемент DIALOG и форма FORM редактирования контента Пользователя на странице контента
формы FORM, входящие в состав Статей на странице настроек и прочие встроенные формы
*/

form {
  clear: both;
  box-sizing: border-box;
  padding: .75em 1.5em;
}
.inpage-form, dialog {
  margin: auto;
  width: calc(98vw - 1.5em); /* для элемента dialog было 98vm */
	max-width: 42em; /* для элемента dialog было 50em */
	border-width: .3em;
	border-style: solid;
	border-radius: .5em;
  background-color: hsl(var(--basic-color-hue),100%,80%);
  border-color:  hsla(var(--basic-color-hue),100%,70%,.5);
}
dialog::backdrop {
	background-color: hsla(var(--basic-color-hue),40%,40%,.25);
}
.inpage-form /* форма как отдельная часть страницы (блок на всю ширину с рамкой и без обтекания) */ {
  margin-top: 4.5em;
  margin-bottom: 4.5em;
}
.indialog-form /* форма внутри модального элемента dialog */ {

}
.inblock-form /* форма внутри какого-либо блока (div, section, article, p и т.п.) */ {
  padding: .5em;
}
.form-header	{ /* заголовок формы h3 */
	margin: .5em 0;
}
fieldset	{
	margin: 1.5em 0;
	padding: .75em;
	border-radius: 3px;
	background-color: hsl(var(--basic-color-hue),100%,78%);
}
.checkbox-p /* p - абзацы с флажком или переключателем */	{
	margin: .75em 0;
	text-align: left;
}
.text-input-p /* p - абзацы с текстовыми полями ввода */	{
	margin: .75em 0;
	text-align: left;
}
.submit-buttons-p /* p - абзац с результирующими кнопками */	{
	text-align: right;
}
.readonly-text-input-p /* p */	{
	font-size: .8em;
	color: #555;
}

/* Классы для управления видимостью блоков формы редактирования контента */
.editform-meta	{
	display: none;
}
.editform-edit	{
	display: none;
}
.editform-relocate	{
	display: none;
}
.editform-relocate-add	{
	display: none;
}
.editform-relocate-meta	{
	display: none;
}
