/* Компонент ФОРМА */

/* Это отдельные формы:
форма FORM на странице авторизации
элемент DIALOG и форма FORM редактирования контента Пользователя на странице контента
формы FORM, входящие в состав Статей на странице настроек и прочие встроенные формы
*/

form {
  clear: both;
  box-sizing: border-box;
}

.inpage-form, dialog {
  margin: auto;
  width: calc(98vw - 1.5em); /* для элемента dialog было 98vm */
	max-width: 38em; /* для элемента dialog было 50em */
	border-width: .3em;
	border-style: solid;
	border-radius: .5em;
  background-color: hsl(var(--basic-color-hue),100%,80%);
  border-color:  hsla(var(--basic-color-hue),100%,70%,.5);
}
dialog::backdrop {
	background-color: hsla(var(--basic-color-hue),40%,40%,.25);
}

.inpage-form /* форма как отдельная часть страницы (блок на всю ширину с рамкой и без обтекания) */ {
  margin-top: 4.5em;
  margin-bottom: 4.5em;
  padding: .75em 1.5em;
}
.indialog-form /* форма внутри модального элемента dialog */ {
  border-radius: 12px;
  margin: .67em;
	padding: .33em;
	letter-spacing: 1px;
}
.inblock-form /* форма внутри какого-либо блока (div, section, article, p и т.п.) */ {

}


/* index */
.form-header	{ /* заголовок формы h3 */
	margin: .75em 0;
}
fieldset	{
	margin: 1.5em 0;
	padding: .75em;
	border-radius: 3px;
	background-color: hsl(var(--basic-color-hue),100%,78%);
}
.input /* p - абзацы с текстовыми полями ввода */	{
	margin: .75em 0;
	text-align: left;
}
.submit-buttons-p /* p - абзац с результирующими кнопками */	{
	text-align: right;
}

/* editform */
#relocation-type, #relocation-order-number /* fieldset */	{
	margin: .33em;
	padding: .33em;
  border-radius: 3px;
}
#relocation-tree /* fieldset */	{
	border-radius: 3px;
}
p[class^='editform-']	{
	margin: .33em;
	padding: .33em;
	font-size: 1em;
}
.maxordernumber-input /* p */	{
	font-size: .8em;
	color: #555;
}

/* editform.css */
.editform-meta	{
	display: none;
}
.editform-edit	{
	display: none;
}
.editform-relocate	{
	display: none;
}
.editform-relocate-add	{
	display: none;
}
.editform-relocate-meta	{
	display: none;
}
