/* Меню шапки */
#headermenu	{ /* div - блок меню шапки */
	display: flex;
	flex-flow: row wrap-reverse;
	justify-content: flex-start;
}

/* Для тестирования */
#test-mode-form	{
	margin: 0;
	padding: 0;
}
#test-mode-button	{
	padding: 3px;
}
.test-mode	{
	display: none;
}
