
/* colors.css */
.body-header > h1	{
	margin-bottom: .5em;
	text-shadow: 4px -3px 3px hsla(var(--basic-color-hue),60%,20%,.4);
}

/* Меню шапки */
#headermenu	{ /* div - блок меню шапки */
	display: flex;
	flex-flow: row wrap-reverse;
	justify-content: flex-start;
}
