/* Спецэлементы */
#login-title, #password-title	{
	/*font-weight: bold;*/
}
#login-comment	{
	display: none;
	font-size: small;
}
#password-recovery-comment	{
	display: none;
}

/* Цвета */
body	{
	background-color: hsl(var(--basic-color-hue),100%,95%);
	background-image: var(--body-bg-image);
	background-repeat: var(--body-bg-repeat);
	background-attachment: fixed;
	background-position: center center;
}
form	{
	background-color: hsl(var(--basic-color-hue),100%,80%);
	border-color:  hsla(var(--basic-color-hue),100%,70%,.5);
}
fieldset	{
	background-color: hsl(var(--basic-color-hue),100%,78%);
}
input	{
	background-color: hsl(var(--basic-color-hue),100%,85%);
}
article.item	{
	background-color: hsla(var(--basic-color-hue),100%,85%,calc(var(--article-tranparency)/100));
}

/* Основное форматирование */
body	{
	font-size: var(--basic-font-size);
	font-family: var(--basic-font-type);
	padding: .75em;
}
.about	{
	text-align: right;
	margin-top: .75em;
}
.alert	{
	clear: both;
	text-align: center;
	border: 3px solid red;
	background-color: hsl(10,100%,80%);
	margin: 5.5em 10vw;
	padding: .4em;
}
.js-only	{
	display: none;
}
.js5	{
	display: none;
}
#test-js6module	{
	display: none;
}
#dialog-alert-index	{
	display: none;
}
#touchscreen-check	{
	display: none;
}
form	{
	margin: 4.5em auto;
	padding: .75em 1.5em;
	border-width: 5px;
	border-style: solid;
	border-radius: 10px;
	box-sizing: border-box;
	width: calc(98vw - 1.5em);
	max-width: 38em;
}
#authorization-form	{
	clear: both;
}
.form-header	{
	margin: .75em 0;
}
fieldset	{
	margin: 1.5em 0;
	padding: .75em;
	border-radius: 3px;
}
.input	{
	margin: .75em 0;
	text-align: left;
}
input	{
	border-radius: 6px;
	padding: .4em;
	font-size: 1em;
}
input[type='radio']:checked + .auth-type-label	{
	font-weight: bold;
}
input[disabled] + .auth-type-label	{
	color: #555;
}
.submit-button /* p */	{
	text-align: right;
}

/* Новости */
#news	{
	margin: .75em;
}
#news > h4	{
	font-weight: bold;
	padding: .4em 1.5em;
}
.item	{
	margin: .75em 0;
	padding: .75em 1em;
	border-radius: 20px/15px;
}
.new	{
	color: hsl(10,100%,35%);
}
.item-header	{
	margin: 0 0 .75em;
}
.item-par	{
	margin: .2em 0;
}
