body	{
	background-color: hsl(var(--basic-color-hue),100%,95%);
	background-image: var(--body-bg-image);
	background-repeat: var(--body-bg-repeat);
	background-attachment: fixed;
	background-position: center center;
	font-size: var(--basic-font-size);
	font-family: var(--basic-font-type);
	padding: .75em;
}

/* Форма */
form	{
	margin: 4.5em auto;
	padding: .75em 1.5em;
	border-width: 5px;
	border-style: solid;
	border-radius: 10px;
	box-sizing: border-box;
	width: calc(98vw - 1.5em);
	max-width: 38em;
	background-color: hsl(var(--basic-color-hue),100%,80%);
	border-color:  hsla(var(--basic-color-hue),100%,70%,.5);
}
#authorization-form	{ /* form */
	clear: both;
}
.form-header	{ /* заголовок формы h3 */
	margin: .75em 0;
}
fieldset	{
	margin: 1.5em 0;
	padding: .75em;
	border-radius: 3px;
	background-color: hsl(var(--basic-color-hue),100%,78%);
}
.submit-button /* p */	{
	text-align: right;
}
.input /* p */	{
	margin: .75em 0;
	text-align: left;
}
input /* текстовые поля ввода */	{
	border-radius: 6px;
	padding: .4em;
	font-size: 1em;
	background-color: hsl(var(--basic-color-hue),100%,85%);
}

/* Специальные стили страницы и формы */
#login-title, #password-title	{
	/*font-weight: bold;*/
}
#login-comment	{
	display: none;
	font-size: small;
}
#password-recovery-comment	{
	display: none;
}
.about	{
	text-align: right;
	margin-top: .75em;
}
.alert	{
	clear: both;
	text-align: center;
	border: 3px solid red;
	background-color: hsl(10,100%,80%);
	margin: 5.5em 10vw;
	padding: .4em;
}
.js-only	{
	display: none;
}
.js5	{
	display: none;
}
#test-js6module	{
	display: none;
}
#dialog-alert-index	{
	display: none;
}
#touchscreen-check	{
	display: none;
}

/* Стили блока новостей */
#news	{
	margin: .75em;
}
#news > h4	{
	font-weight: bold;
	padding: .4em 1.5em;
}
.new	{ /* новая Статья */
	color: hsl(10,100%,35%);
}
