.itemsfolder	{ /* section - Статьи текущей папки */
	display: none; /* выбранная папка отображается программным путём */
}
.itemsfolder-branch-nav	{
	display: inline;
}
.itemsfolder-branch-ancestor	{ /* span */
	cursor: pointer;
}
.items-header, .item-header	{ /* Заголовок блоков items/item (h2/h4 + меню для редактирования) */
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
}
.items-h2	{
	flex-grow: 1;
	text-align: center;
}

/* Элементы Статьи */
.item-h4-bookmarks, .item-h4-notes	{ /* заголовок h4 */
	flex-grow: 1;
	text-align: left;
}
.uri	{ /* абзац поля гиперссылки */
	overflow: hidden;
	text-overflow: clip;
}
