/* Компонент МАКЕТ БЛОКА КОНТЕНТА ПОЛЬЗОВАТЕЛЯ */

/* Это макет блока контента Пользователя с деревом папок (#folderstree) и статьями отображаемой папки (#items) для страниц:
страница контента Пользователя
страница "О ресурсе"
ПРИМЕЧАНИЕ: включает стили, задаваемые JavaScript, для управления отображением / скрытием дерева папок в различных ситуациях
*/

main	{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-flow: row nowrap;
}

/* Блок отображения/скрытия дерева папок */
#folderstree	{
	flex-basis: var(--folderstree-width);
	display: block;
}
#items	{
	flex-basis: calc(100% - var(--folderstree-width));
}
.reverse-display-mode > #folderstree {
	flex-basis: 0px;
	display: none;
}
.reverse-display-mode > #items	{
	flex-basis: 100%;
}
@media (max-width: 50em)	{
	#folderstree {
		flex-basis: 0px;
		display: none;
	}
	#items	{
		flex-basis: 100%;
	}
	.reverse-display-mode > #folderstree	{
		flex-basis: var(--folderstree-width);
		display: block;
	}
	.reverse-display-mode > #items	{
		flex-basis: calc(100% - var(--folderstree-width));
	}
}
