body	{
	background-color: hsl(var(--basic-color-hue),100%,95%);
	background-image: var(--body-bg-image);
	background-repeat: var(--body-bg-repeat);
	background-attachment: fixed;
	background-position: center center;
}
.body-header, body > footer, #folderstree, #items	{
	border-width: 1px;
	border-style: solid;
	border-color: hsl(var(--basic-color-hue),40%,60%);
	padding: .67em;
}
#folderstree, #items	{
	overflow-x: hidden;
}
