/* headerfooter */
.header-menu-subitem, .editmenu-button	/* button */	{
	padding: 12px;
}

/* folderstree */
.root-folderstree-details	{
	margin: 1em 0;
}
.root-folderstree-details > .folderstree-details, .folderstree-details > .folderstree-details	{
	margin: 1.2em 1em;
}

/* items - меню редактирования */
.editmenu-button	{ /* button */
	height: calc(1.2em + 24px);
	/* стиль отступов - выше */
}

/* Древовидный список */
:root	{
	/* Переменные для создания визуального дерева перемещения папок/статей в форме редактирования */
	--checkbox-radio-par-paddingtop: .6em;
	--checkbox-radio-par-paddingbottom: .6em;
}
.root-relocation-tree-li > label, .relocation-tree-li > label	{
	padding-right: 2em;
}