/* mainblocks */
.body-header, body > footer, #folderstree, #items	{
	padding: .67em;
}

/* headerfooter (стили 'для тестирования' - в соответствующем блоку файле) */
.body-header > h1	{
	margin-bottom: .5em;
}

/* items */
.items-header	{ /* Заголовок блока items (h2 + меню для редактирования) */
	margin: 1em 0;
}
