/* mainblocks */
.body-header, body > footer, #folderstree, #items	{
	padding: .67em;
}

/* headerfooter (стили 'для тестирования' - в соответствующем блоку файле) */
.body-header > h1	{
	margin-bottom: .5em;
}
.header-listcontent-ul	{ /* nav > ul - список сервисов */
	padding: .5em 0;
}
.header-listcontent-li	{ /* nav > ul > li - пункт блока сервисов */
	padding: .5em 1em;
}
.header-menu	{ /* details - блок меню аккаунта */
	margin-left: auto;
}
.header-menu-summary	{ /* details > summary - видимая часть меню аккаунта */
	padding: .5em;
}
.header-menu-summary:after	{ /* details > summary - видимая часть меню аккаунта */
	font-size: .8em;
}
.header-menu-subdetails	{ /* details > nav - раскрываемая часть меню аккаунта */
	padding: 6px;
	top: 2.2em;
}

/* items */
.items-header	{ /* Заголовок блока items (h2 + меню для редактирования) */
	margin: 1em 0;
}

/* editform (стили древовидного списка - в соответствующем блоку файле) */
#editform-form	{
	margin: .67em;
	padding: .33em;
	letter-spacing: 1px;
}
p[class^='editform-']	{
	margin: .33em;
	padding: .33em;
	font-size: 1em;
}
p[class^='editform-'] input	{
	padding: .17em;
	font-size: 1em;
}
p[class^='editform-'] textarea	{
	padding: .33em;
	font-size: 1em;
}
#relocation-type, #relocation-order-number	{
	margin: .33em;
	padding: .33em;
}
#relocation-tree	{
	margin: .33em .17em;
	padding: .67em;
	font-size: .8em;
}
input[disabled] + .relocation-tree-li-label	{
	color: #555;
}
.maxordernumber-input	{
	font-size: .8em;
	color: #555;
}
