/* Компонет ДЕРЕВО ПАПОК */

/* Это часть страницы контента Пользователя (#folderstree), с которой происходит навигация по дереву папок выбранного вида контента.
Применяется для страниц:
страница контента Пользователя
страница "О ресурсе"
*/

.root-folderstree-details	{
	margin: 1em 0;
}
.root-folderstree-details > .folderstree-details, .folderstree-details > .folderstree-details	{
	margin: 1.2em 1em;
}
.folderstree-summary	{
	text-align: left;
}
.subfolders > .folderstree-summary:after {
	content: ' \21B7';
}
.subfolders[open] > .folderstree-summary:after {
	content: '';
}
.folderstree-summary:hover	{
	color: hsl(var(--basic-color-hue),80%,40%);
}
