/* ФАЙЛ УСТАНОВКИ ЛИЧНЫХ ИСХОДНЫХ НАСТРОЕК */

*	{
	margin: 0;
	padding: 0;
}
*:active, *:focus	{
	outline: none;
}
html	{
	font-size: var(--basic-font-size);
	box-sizing: border-box;
}
body	{
	font-size: 1em;
	line-height: 1.4em;
	font-family: var(--basic-font-type);
}
h1	{
	font-size: 1.8em;
	font-weight: bold;
	letter-spacing: 4px;
	text-align: center;
}
h2	{
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 3px;
	text-align: center;
}
h3	{
	font-size: 1.3em;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: justify;
}
h4	{
	font-size: 1.2em;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: justify;
}
h5	{
	font-size: 1.1em;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: justify;
}
h6	{
	font-size: 1em;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: justify;
}
p, ul, ol, address, summary	{
	font-size: 1em;
	text-align: justify;
}
ul, ol	{
	list-style-position: inside;
}
details	{
	cursor: pointer;
}
summary:before, summary:after {
	content: "";
}
a:hover {
	text-decoration: none;
}
.checkbox-radio-par, .checkbox-radio-par > label, .checkbox-radio-par > label	{ /* параграфы с наличием элемента управления 'флажок' или 'переключатель' */
	padding-top: var(--checkbox-radio-par-paddingtop);
	padding-bottom: var(--checkbox-radio-par-paddingbottom);
}


/* Chrome, Opera, Safari */
summary::-webkit-details-marker {
  display: none;
}
/* Firefox */
details, summary {
	display: block;
}
button::-moz-focus-inner { /* убирает пунктирную обводку текста в Firefox */
  border: 0;
}

/* Компонент КНОПКА */

/* Это:
кнопка SUBMIT в форме авторизации
кнопка "показать пароль" в форме авторизации
кнопка "показать/скрыть дерево папок" на страницах контента и "О ресурсе"
кнопка SUBMIT в форме редактирования контента
кнопка CANCEL в форме редактирования контента
кнопки на странице настроек
!!! - НЕ ВКЛЮЧЕНЫ кнопки в меню редактирования, которые находятся в компоненте МЕНЮ РЕДАКТИРОВАНИЯ КОНТЕНТА
*/

button	{
	background-color: hsl(var(--basic-color-hue),100%,78%);
	border-color: hsla(var(--basic-color-hue),50%,70%,.5);
	font-size: 1em;
	margin: .4em;
	padding: .4em .75em;
	min-width: 6em;
	border-width: 2px;
	border-style: groove;
	border-radius: .3em;
	font-weight: bold;
	letter-spacing: 1px;
}
button:hover	{
	background-color: hsl(var(--basic-color-hue),100%,76%);
}
button:active	{
	background-color: hsl(var(--basic-color-hue),100%,72%);
	border-style: ridge;
}
button:focus {
	border-color: hsl(var(--basic-color-hue),50%,50%);
	color: hsl(var(--basic-color-hue),100%,25%);
}

.auxiliary-button {
	font-size: .8em;
}
.toggle-folderstree-button	{
	margin: 0 1em;
	min-width: 0;
}

/* Компонент ТЕКСТОВЫЙ ВВОД */

/* Это:
текстовые поля ввода (input type='text | email | password | number | select', textarea):
в форме авторизации,
в форме редактирования контента,
на странице настроек
*/

input,
select,
textarea	{
  box-sizing: border-box;
  padding: .3em;
  border-radius: .3em;
  font-size: 1em;
  max-width: 100%;
}
.readonly /* служебные поля и поля только для чтения (псевдокласс :read-only не работает) */ {
	background-color: hsl(var(--basic-color-hue),100%,85%);
  border: none;
  color: inherit;
}
textarea,
.input-line /* поля на всю ширину формы */	{
  width: 100%;
}
.input-number /* поля с короткими числами */ {
  width: 4em;
  text-align: center;
  padding: .1em;
}
.input-enabled:focus /* активные поля */ {
	border-color: hsl(var(--basic-color-hue),50%,50%);
	color: hsl(var(--basic-color-hue),100%,25%);
}

/* Компонент ФЛАЖОК / ПЕРЕКЛЮЧАТЕЛЬ */

/* Это:
элементы label, содержищие элементы input[type='checkbox'] и input[type='radio'] в элементах:
форма авторизации
форма редактирования контента
дерево перемещений
страница настроек
*/

/* элементы span для выбранных и неактивных элементов */
input[type='checkbox']:checked + .check-span,
input[type='radio']:checked + .check-span	{
	font-weight: bold;
}
input[type='checkbox']:disabled + .check-span,
input[type='radio']:disabled + .check-span	{
	color: #555;
}

/* editform.css - древовидный список */
.root-relocation-tree-li > label, .relocation-tree-li > label	{ /* для увеличения активного поля */
	padding-right: 2em;
}

/* Компонент ДЕРЕВО ПАПОК ДЛЯ ПЕРЕМЕЩЕНИЯ */

/* Это:
рамка с деревом папок для перемещения в форме редактирования контента
*/

/* Древовидный список */
#relocation-tree	{
	display: none;
	margin: .33em .17em;
	padding: .67em;
	background-color: hsl(var(--basic-color-hue),100%,78%);
	font-size: .8em;
}
:root	{
	/* Переменные для создания визуального дерева перемещения папок/статей в форме редактирования */
	--editform-reltree-paddingleft: 1.1em;
	--editform-reltree-marginleft: -.25em;
	--checkbox-radio-par-paddingtop: .6em;
	--checkbox-radio-par-paddingbottom: .6em;
}
.relocation-tree-ul	{
	padding-left: calc(1.6em + 12px);
}
.root-relocation-tree-ul > .relocation-tree-ul,
.relocation-tree-ul > .relocation-tree-ul	{
	margin-left: var(--editform-reltree-marginleft);
}
.root-relocation-tree-li,
.relocation-tree-li	{
	list-style: none;
	position: relative;
	margin-left: var(--editform-reltree-marginleft);
	padding-left: calc(var(--editform-reltree-paddingleft) + .1em);
}
.relocation-tree-li:before	{
	position: absolute;
	content: '';
	border-bottom: 1px solid #999;
	top: 0;
	left: 0;
	width: var(--editform-reltree-paddingleft);
	height: calc(var(--checkbox-radio-par-paddingtop) + .75em);
}
.root-relocation-tree-ul > .relocation-tree-ul:not(:last-child),
.relocation-tree-ul > .relocation-tree-ul:not(:last-child),
.relocation-tree-li:last-of-type:before,
.root-relocation-tree-li:not(:last-of-type),
.relocation-tree-li:not(:last-of-type)	{
	border-left: 1px solid #999;
}
.relocation-tree-radio /* input[type='radio'] */	{
	margin-left: .3em;
}

/* Компонент ФОРМА */

/* Это отдельные формы:
форма FORM на странице авторизации
элемент DIALOG и форма FORM редактирования контента Пользователя на странице контента
формы FORM, входящие в состав Статей на странице настроек и прочие встроенные формы
*/

form {
  clear: both;
  box-sizing: border-box;
}
.inpage-form, dialog {
  margin: auto;
  width: calc(98vw - 1.5em); /* для элемента dialog было 98vm */
	max-width: 42em; /* для элемента dialog было 50em */
	border-width: .3em;
	border-style: solid;
	border-radius: .5em;
  background-color: hsl(var(--basic-color-hue),100%,80%);
  border-color:  hsla(var(--basic-color-hue),100%,70%,.5);
}
dialog::backdrop {
	background-color: hsla(var(--basic-color-hue),40%,40%,.25);
}
.inpage-form /* форма как отдельная часть страницы (блок на всю ширину с рамкой и без обтекания) */ {
  margin-top: 4.5em;
  margin-bottom: 4.5em;
  padding: .75em 1.5em;
}
.indialog-form /* форма внутри модального элемента dialog */ {
  padding: .75em 1.5em;
}
.inblock-form /* форма внутри какого-либо блока (div, section, article, p и т.п.) */ {
  padding: .5em;
}
.inline-form /* форма внутри какого-либо абзаца (p, li и т.п.) */ {

}
.form-header	{ /* заголовок формы h3 */
	margin: .5em 0;
}
fieldset	{
	margin: 1.5em 0;
	padding: .75em;
	border-radius: 3px;
	background-color: hsl(var(--basic-color-hue),100%,78%);
}
.checkbox-p /* p - абзацы с флажком или переключателем */	{
	margin: .75em 0;
	text-align: left;
}
.text-input-p /* p - абзацы с текстовыми полями ввода */	{
	margin: .75em 0;
	text-align: left;
}
.submit-buttons-p /* p - абзац с результирующими кнопками */	{
	text-align: right;
}
.readonly-text-input-p /* p */	{
	font-size: .8em;
	color: #555;
}

/* Классы для управления видимостью блоков формы редактирования контента */
.editform-meta	{
	display: none;
}
.editform-edit	{
	display: none;
}
.editform-relocate	{
	display: none;
}
.editform-relocate-add	{
	display: none;
}
.editform-relocate-meta	{
	display: none;
}

/* "Точка входа" стилей страниц, использующих формы */ /* не требуется для страницы Авторизации */

/* Компонент ЗАГОЛОВОК СТРАНИЦЫ */

/* Это:
заголовок h1:
страницы авторизации
страницы контента Пользователя
страницы "О ресурсе"
*/

.page-title /* h1 */	{
	margin-bottom: .5em;
	text-shadow: 4px -3px 3px hsla(var(--basic-color-hue),60%,20%,.4);
}

/* Компонент СТАТЬЯ */

/* Это:
статья на странице контента
статья на странице настроек
статья на странице "О ресурсе"
статья в блоке новостей на странице авторизации
*/

.item	{ /* article */
	margin: .67em;
	padding: .67em;
  border-radius: 1em/.75em;
  background-color: hsla(var(--basic-color-hue),100%,85%,calc(var(--article-tranparency)/100));
}
.bookmark, .note, .index {  /* article - специфические свойства для типа контента, если потребуются */
  /* */
}
.item-h4-bookmarks, .item-h4-notes	{ /* заголовок h4 */
	text-align: left;
}
.item-h4-bookmarks	{ /* заголовок для контента Закладки */
	font-size: 1.1em;
	margin-bottom: 0;
}
.item-h4-notes	{ /* заголовок для иных контентов, чем Закладки */
	margin-bottom: .67em;
}
.item-h5-index	{ /* заголовок h5 страницы авторизации */
	margin: 0 0 .75em;
}
.uri	{ /* абзац поля гиперссылки сервиса Закладки */
	overflow: hidden;
	text-overflow: clip;
}
.annotation	{ /* абзац поля input сервиса Закладки */
	margin-top: .5em;
	font-size: .8em;
	line-height: 1.3em;
}
.multipar-text	{ /* абзац поля textarea сервиса Заметки */
	margin: .17em;
}
.options-par	{ /* абзац статьи страницы Настройки */
	margin: 1em;
}

/* Специальные стили страницы Авторизации, не выделенные в отдельные компоненты */

body	{
	padding: .75em;
}

/* Специальные стили страницы и формы */
#login-title, #password-title	{
	/*font-weight: bold;*/
}
#login-comment	{
	display: none;
	font-size: small;
}
#password-recovery-comment	{
	display: none;
}
.about	{
	text-align: right;
	margin-top: .75em;
}
.alert	{
	clear: both;
	text-align: center;
	border: 3px solid red;
	background-color: hsl(10,100%,80%);
	margin: 5.5em 10vw;
	padding: .4em;
}
.js-only	{
	display: none;
}
.js5	{
	display: none;
}
#test-js6module	{
	display: none;
}
#dialog-alert-index	{
	display: none;
}
#touchscreen-check	{
	display: none;
}

/* Стили блока новостей */
#news	{
	margin: .75em;
}
#news > h4	{
	font-weight: bold;
	padding: .4em 1.5em;
}
.new	{ /* новая Статья */
	color: hsl(10,100%,35%);
}

