/* Специальные стили для НЕ сенсорных устройств, т.е. для устройств, где имеется только точный указатель (мышь) */

/* headerfooter */
.header-menu-subitem	{
	padding: .3em 2em;
}

/* folderstree */
.root-folderstree-details	{
	margin: 1em 0;
}
.root-folderstree-details > .folderstree-details, .folderstree-details > .folderstree-details	{
	margin: .67em 1em;
}

/* items */
.toggle-folderstree-button:after	{
	content: ' Папки';
}

/* items - меню редактирования */
.editmenu-subdetails-button	{
	height: 1.5em;
	padding: .3em 1em;
}

/* Древовидный список */
:root	{
	/* Переменные для создания визуального дерева перемещения папок/статей в форме редактирования */
	--checkbox-radio-par-paddingtop: .1em;
	--checkbox-radio-par-paddingbottom: .1em;
}
